<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="org.learning"></context:component-scan>
<!--    <bean id="vehicle" class="org.learning.Car"></bean>-->

    <bean id="tyre" class="org.learning.Tyre">
<!--        <property name="brand" value="Okahoma"></property> //when we do this type of configuration we are using Setter method in Tyre Class-->
        <constructor-arg value="Okahoma Tyres"></constructor-arg> <!--To use constructor we have to do configuration like this.-->
    </bean>
</beans>
